.jumbotron {
  background-color: #2d8659;
  text-align: center;
  text-shadow: .8px .8px ivory;
}
h1 {
  color: #2d8659;
  text-shadow: .8px .8px black;
}
h2{
  margin-left: 25px;
}
#massage-pic{
  display: none;
}
.form-control {
  width: 60%
}
select {
  margin-top: 50px;
  margin: 100px:
  width: 60%
}
